body {
  text-align: center;
  background-color: #06b4ff; 
 
} 
/* background-color: #06b4ff*/
div {
    cursor:progress;
}






<style type="text/css" scoped>
p.GeneratedText {
color:#FFFFFF;background-color:#FFFFFF;
}
</style>

